@use '../../../styles/variables' as *;

.singlePost {
    min-height: 200vh;
    background-color: #fff;

    .header {
        position: relative;
        margin-bottom: 5rem;

        .headerBack {
            background-color: $color-dark;

            img {
                height: 50rem;
                width: 100%;
                object-fit: cover;
                opacity: .7;
                display: block;
            }
        }

        .headerText {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            padding: 4rem 4rem 6rem 4rem;
            text-align: center;
            
            h1 {
                color: #fff;
            }
        }
    }

    .main {
        padding-bottom: 10rem;

        .customDesc {
            font-size: 2rem;
            text-align: center;
            max-width: 75rem;
            margin: 4rem auto 6rem;

            @media (max-width: $bp-medium) {
                margin: 2rem auto 3rem;
            }

            p {
                font-size: 2rem;

                @media (max-width: $bp-medium) {
                    font-size: 1.6rem;
                }

            }
        }

        p {
            margin-bottom: 2rem;
        }

        h2 {
            font-size: 4rem;
        }

        h3 {
            font-size: 3rem;
        }

        h4 {
            font-size: 2.4rem;
            margin-bottom: 1.5rem;
        }
    }
}

