// font
$font-primary: "PT Serif", serif;
$font-secondary: "Roboto", sans-serif;

// color
$color-primary: #2fc0cc;

$color-text: #222;
$color-dark: #222;

$color-light-gray: #f4f4f4;

$container-width: 140rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 87.5em;  // 1400px
$bp-large: 70em;  // 1040px
$bp-medium: 50em;   // 800px
$bp-small: 37.5em;  // 600px

$transition: all .4s;