@use '../../styles/variables' as *;

.contact {

    .contactInner {
        display: flex;
        padding-bottom: 8rem;
        padding-top: 7rem;
        min-height: 60vh;

        .contactForm {
            width: 50%;
            margin: 0 auto;
            text-align: center;

            @media (max-width: $bp-medium) {
                width: 100%;
            }
        }
    }
}