@use '../../styles/variables' as *;

.backToTop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: $color-dark;
    color: #fff;
    font-size: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: $transition;
    z-index: 1000;
    border: none;
  
    &.visible {
      opacity: 1;
    }
  
    &:hover {
      background-color: $color-primary;
    }
  }
  